<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <!-- Alias para simplificar o uso do VO -->
        <typeAlias alias="PessoaVo" type="com.projetos.labH2.labVO.PessoaVo"/>
        <typeAlias alias="EnderecoVo" type="com.projetos.labH2.labVO.EnderecoVo"/>
    </typeAliases>

    <mappers>
        <!-- Registra o mapeamento XML dos arquivos DAOs -->
        <mapper resource="mappers/pessoa.mapper.xml"/>
        <mapper resource="mappers/endereco.mapper.xml"/>
    </mappers>

</configuration>
